.node {
    border: solid;
    border-width: 2px;
    border-color:black;
    width: 3rem;
    height: 3rem;
    margin: -3px;
}
.unvisited {
    background-color:white;
}

.visited {
    background-color: blue;
}

.shortest-path {
    background-color: greenyellow;
}

.table {
    margin: 2.5rem;
    margin-left: 3.5rem;
}