.container {
    margin: 5px;
    padding: 5px;
}
#header {
    margin: 10px;
    text-align: center;
}
#xcoord {
    width: 50%;
    float: left;
}
#ycoord{
    width: 50%;
    float: left;
}
#buttonGroup{
    text-align: center;
}
