.optionPanel {
    margin: 1rem;
    margin-left: 0;
    padding: 1rem;
}
#header {
    text-align: center;
}
#xcoord {
    width: 50%;
    float: left;
}
#ycoord{
    width: 50%;
    float: left;
}
#buttonGroup{
    text-align: center;
}


