.optionPanel {
    margin: 1rem;
    margin-left: 0;
    padding: 1rem;
}
#header {
    margin-top: 1rem;
    text-align: center;
}
#buttonGroup {
    text-align: center;
}
#label {
    margin-bottom: 1rem;
}


